body, html{
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", 
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, rgb(115, 192, 115), white);
}

#layout{
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", 
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow-y: auto;
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position:static;
}

#navBarBox{
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#homeButton, #menuButton, #contactsButton{
    font-size: 18px;
    text-align: center;
}

#homeButton:hover, #menuButton:hover, #contactsButton:hover{
    color: white;
}

#content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position:relative;
    border-radius: 5px;
    overflow-y: auto;
}

#description, #hoursBox, #reviewsDisplay, #contactBox {
    max-width: 80%;
    min-width: 700px;
    /* background-color: white; */
    padding: 5px;
}

#description, #hoursBox{
    min-height: 90px;
    max-height: 200px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

h3{
    margin: 0px;
    padding: 0px;
    height: 20px;
    width: 100%;
    text-align: left;
}


#hours{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

li{
    text-align: left;
}

#reviewsDisplay{
    height: 300px;
}

#reviewsHeaderBox{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#reviewsHeader{
    height: 100%;
    width: 75%;
    font-size: 18px;
    text-align: left;

}

#reviewsContentBox{
    height: 270px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviewContent{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

#review{
    width: 80%;
    text-align: left;
}

#rating{
    width: 20%;
    text-align: right;
}

#menuTable{
    height: 100%;
    width: 80%;
    border-collapse: collapse;
    display: grid;
    grid-template-rows: auto;
}

#menuthead{
    font-size: 24px;
    height: 30px;
}

th{
    height: 50px;
}

tr{
    height: 50px;
    width: 100%;
}

thead, tbody{
    display: contents;
}

#score{
    height: 13%;
    text-align: right;
    margin-top: 4px;
    padding-top: 0px;
}

#contactBox{
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

#contactInfoBox{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}